{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'ups_front/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPS Home Page</title>
    <style type="text/css">
        a:hover {
            text-decoration: none;
        }
        .logo {
            display: inline-block;
            vertical-align: top;
            width: 55px;
            height: 55px;
            margin-right: 20px;
            margin-top: 15px;    /* if you want it vertically middle of the navbar. */
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mb-4"> 
            <div><img class = "logo" src = "https://cdn.iconscout.com/icon/free/png-256/ups-3630313-3030888.png" alt="ups_logo"/></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span
                    class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active mr-4"> <a class="nav-link"><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active mr-4"> <a class="nav-link" href="{% url 'ups-profile' %}">Profile</a></li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button"><a href="{% url 'loginusers' %}"
                            style='color:white'>Logout</a></button>
                </form>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Navigation Bar</h3>
                    <p class='text-muted'>Track packages or provide feedback
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{% url 'ups-home' %}"
                                style="color: rgba(57, 133, 209, 0.991);">Home</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'ups-package' %}"
                                style="color: rgb(56, 92, 236);">Your Packages</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'ups-feedback' %}"
                                style="color: rgb(93, 18, 232);">Feedback</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'ups-cost' %}"
                                style="color: rgb(135, 57, 223);">Caculate shipping cost</a></li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ msg.message }}</strong>
                </div>
                {% endfor %}
                {% endif %}

                <head>
                    <title>Calculate</title>
                    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
                    <script src="/scripts/jquery.min.js"></script>
                    <script src="/bootstrap/js/bootstrap.min.js"></script>
                </head>

                <body>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <br>
                                <center>Calculate delivering cost</center>
                            </h3>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </body>
            </br>
                {% csrf_token %}
                <form action="calculate" method="post">
                    {% csrf_token %}
                    <div >
                        Package weight: <input type="text" name ="weight" placeholder="Enter weight" />
                        <small id="weightHelp" class="form-text text-muted">Please enter weight in pounds.</small>
                    </div>
                </br>
                    {% csrf_token %}
                    <div>
                        Delivering distance: <input type="text" name ="distance" placeholder="Enter distance" />
                        <small id="distanceHelp" class="form-text text-muted">Please enter distance in miles.</small>
                    </div>
                </br>
                    <div>
                        <input type="submit" value="Calculate" />
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>

